<h2>Lista de categorias</h2>
<hr>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>Slug: {{slug}}</small><br>
            <small>  Data de criação: {{createdAt}}</small><br>
            <a href="/admin/categorias/edit/{{id}}"><button class="btn btn-success mt-4">Editar categoria</button></a>
            <div style='text-align:right'>
                <a href="/admin/categorias/deletar/{{id}}"><button class="btn btn-danger">Deletar categoria</button></a>
            </div>
        </div>
    </div>
{{else}}
{{/each}}

<div style='text-align:right'><a href="/admin/categorias/add"><button class = "btn btn-success mt-4">Nova categoria</button></a></div>
